[submodule "external/TLS-Libraries"]
	path = external/TLS-Libraries
	url = https://github.com/Transmission-Line-Software/TLS-Libraries.git
[submodule "external/wxWidgets"]
	path = external/wxWidgets
	url = https://github.com/wxWidgets/wxWidgets.git
