[submodule "external/Models"]
        path = external/Models
        url = https://github.com/OverheadTransmissionLineSoftware/Models.git
[submodule "external/wxWidgets"]
	path = external/wxWidgets
	url = https://github.com/wxWidgets/wxWidgets.git
[submodule "external/AppCommon"]
	path = external/AppCommon
	url = https://github.com/OverheadTransmissionLineSoftware/AppCommon.git
[submodule "external/styleguide"]
	path = external/styleguide
	url = https://github.com/google/styleguide.git
